    <!-- .footer -->
    <footer class="footer">
        <span>Copyright &copy; <%= copyright %></span>
    </footer>
<!-- /.footer -->
</div>
<!-- /.container -->

<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="/js/jquery.backstretch.js"></script>
<script type="text/javascript" src="/js/application.js"></script>
</body>
</html>
